### Analyzing the Stroop Effect
Perform the analysis in the space below. Remember to follow [the instructions](https://docs.google.com/document/d/1-OkpZLjG_kX9J6LIQ5IltsqMzVWjh36QpnP2RYpVdPU/pub?embedded=True) and review the [project rubric](https://review.udacity.com/#!/rubrics/71/view) before submitting. Once you've completed the analysis and write up, download this file as a PDF or HTML file and submit in the next section.

Before answering the questions below I will first import the libraries I need, load the data and take a first look at the data.

In [17]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('darkgrid')

In [18]:
#load the data
df = pd.read_csv('stroopdata.csv')
df.shape

(24, 2)

A small dataset of 24 rows and 2 columns. With such a small dataset I can easely scan visually for null values and duplicates but that is no fun.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
Congruent      24 non-null float64
Incongruent    24 non-null float64
dtypes: float64(2)
memory usage: 464.0 bytes

We have two columns with the names 'Congruent' and 'Incongruent' the data in both columns are of type float. Important is that for both columns there are 24 non-null values which is equal to the total number of rows. Therefore there are no null values in this dataset.

In [20]:
df.nunique()

Congruent      24
Incongruent    24
dtype: int64

For both columns we have 24 unique values which is equal to the total number of rows therefore I have no duplicate rows. Now I am ready to move on to the points below.

(1) What is the independent variable? What is the dependent variable?

**Dependent variabele** is the congruency of the words where congruent means that the color of the letters of the word corresponds with the meaning of the word. incongruent means the colors do not match the meaning of the word. For example <font color='green'>Green</font> and <font color='red'>Red</font> are congruent. Incongruent examples are <font color='green'>Red</font> and <font color='red'>Blue</font>.

**Independent variabele** is the time to complete the task.

(2) What is an appropriate set of hypotheses for this task? What kind of statistical test do you expect to perform? Justify your choices.

The null hypothesis is that there is no difference between the execution time for reading aloud congruent and incongruent words. 

$H_0: \mu_i - \mu_c = 0$

Where $\mu_i$ is the average response time for the incongruent words and $\mu_c$ is the mean response time for the congruent words.

The alternative hypothesis is that it takes longer to read aloud incongruent words.

$H_1: \mu_i - \mu_c > 0$

I will be using a one-tailed t-test for the following reasons
* This dataset has a small sample size, less than 30
* we don't know the population mean nor the standard deviations
* we have made no assumptions about the normality of the population
* we have dependent samples as the experiment is conducted in such a manner that each participant is measured under congruent and incongruent conditions.

(3) Report some descriptive statistics regarding this dataset. Include at least one measure of central tendency and at least one measure of variability. The name of the data file is 'stroopdata.csv'.

In [25]:
# descriptive stats
df['difference'] = df['Incongruent'] - df['Congruent']
df.describe()

       Congruent  Incongruent  difference
count  24.000000    24.000000   24.000000
mean   14.051125    22.015917    7.964792
std     3.559358     4.797057    4.864827
min     8.630000    15.687000    1.950000
25%    11.895250    18.716750    3.645500
50%    14.356500    21.017500    7.666500
75%    16.200750    24.051500   10.258500
max    22.328000    35.255000   21.919000

The mean of the difference is 7.96 and the median of the difference is 7.67 seconds. The standard deviation of the difference is 4.86 seconds.

(4) Provide one or two visualizations that show the distribution of the sample data. Write one or two sentences noting what you observe about the plot or plots.

In [23]:
# Build the visualizations here

--write answer here--

(5) Now, perform the statistical test and report the results. What is the confidence level and your critical statistic value? Do you reject the null hypothesis or fail to reject it? Come to a conclusion in terms of the experiment task. Did the results match up with your expectations?

In [24]:
# Perform the statistical test here

--write answer here--